<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <h1>{{header}}</h1>
    {% if data %}
    <div class="col2">
        <table>
            <thead>
                <td>day</td>
                <td>temp night</td>
                <td>temp day</td>
                <td>weather</td>
                <td>wind speed</td>
                <td>direction</td>
            </thead>
            {% for day_forecast in data %}
            <tr>
                <td>{{ day_forecast.week_day }}</td>
                <td>{{ day_forecast.temp_night }}</td>
                <td>{{ day_forecast.temp_day }}</td>
                <td>{{ day_forecast.weather }}</td>
                <td>{{ day_forecast.wind_speed }}</td>
                <td>{{ day_forecast.wind_rose }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col2">
        <img src="chart.png">
    </div>
    {% endif %}
    <form>
        <label>Which city?</label>
        <input type="text" name="city" required />
        <input type="submit" value="GO" />
    </form>
</body>
</html>