<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <h1>Login</h1>
    <form method="POST">
        <div class="row">
          <label>Username</label>
          <input type="text" name="username" required />
        </div>
        <div class="row">
          <label>Password</label>
          <input type="password" name="password" required />
        </div>
        <div class="row">
          <input type="submit" value="Login" />
        </div>
    </form>
</body>
</html>
