<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lijst van Applicaties</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <h1>Lijst van Applicaties</h1>
    <table>
        <thead><td>name</td><td>major</td><td>minor</td><td>rev</td></thead>
        {% for name, major, minor, rev in applications %}
            <tr><td>{{ name }}</td><td>{{ major }}</td><td>{{ minor }}</td><td>{{ rev }}</td></tr>
        {% endfor %}
    </table>
</body>
</html>