* { color: purple; }

table {
    border-collapse: collapse;
    border: 2px solid darkgray;
    background: pink;
}
thead td {
    background: purple;
    color: white;
}
tr:nth-child(odd) {
    background: white;
}
td {
    border: 1px solid darkgray;
    padding: 4px 6px;
    text-align: right;
    width: 4em;
}
td:first-child {
    text-align: left;
    width: 8em;
}