body {
    background-color: #b5e7a0;
    color: #3e4444;
    font-family: sans-serif;
}
.col2 {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
table {
    border-collapse: collapse;
}
td {
    background-color: #e3eaa7;
    border: 2px solid #3e4444;
    padding: 3px 8px;
    text-align: center;
}
thead td {
    background-color: #405d27;
    color: #d5e1df;
}
form {
    margin-top: 2em;
}
img {
    height: 20em;
}